body {
  background-image: url("images/фон3.jpg");
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 20px;
  line-height: 20px;
  color: #0be4b5;
  text-align: center;
  text-shadow: 1px 1px 2px rgb(8, 1, 1), 0 0 1em rgb(13, 192, 183), 0 0 0.2em rgb(77, 6, 158);

}

h2 {
  text-align: center
}

.image-container p {
  width: 700px;
  margin: 0 auto 8px;
  font-family: "Georgia", sans-serif;
  text-align: left;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px
}

.image-container img {

  float: left;
  margin-right: 80px;
  margin-left: 500px
}

.photo-group1 {
  display: flex;
  justify-content: flex-start;
  /* выравнивание по левому краю */
  margin-left: 500px;
  /* отрицательный margin для сдвига влево */
  align-items: center;
  /* выравнивание контента по вертикали */
  margin-bottom: 40px;
  /* отступ снизу */

}

.photo-group1 p {
  margin: 0;
  /* сброс отступов */
  margin-left: 100px;
  /* передвигаем текст вправо от группы изображений */
  font-size: 30px;
  /* размер шрифта для текста */
  line-height: 1.4;
  /* межстрочный интервал */
}
.photo-group1 img {
  margin-left: 10px;
  /* margin между изображениями */
}
.photo-group2 {
  display: flex;
  justify-content: flex-start;
  /* выравнивание по левому краю */
  margin-left: 500px;
  /* отрицательный margin для сдвига влево */
  align-items: center;
  /* выравнивание контента по вертикали */
  margin-bottom: 40px;
  /* отступ снизу */

}

.photo-group2 p {
  margin: 0;
  /* сброс отступов */
  margin-left: 249px;
  /* передвигаем текст вправо от группы изображений */
  font-size: 30px;
  /* размер шрифта для текста */
  line-height: 1.4;
  /* межстрочный интервал */
}
.photo-group2 img {
  margin-left: 10px;
  /* margin между изображениями */
}
.photo-group3 {
  display: flex;
  justify-content: flex-start;
  /* выравнивание по левому краю */
  margin-left: 500px;
  /* отрицательный margin для сдвига влево */
  align-items: center;
  /* выравнивание контента по вертикали */
  margin-bottom: 40px;
  /* отступ снизу */

}

.photo-group3 p {
  margin: 0;
  /* сброс отступов */
  margin-left: 100px;
  /* передвигаем текст вправо от группы изображений */
  font-size: 30px;
  /* размер шрифта для текста */
  line-height: 1.4;
  /* межстрочный интервал */
}
.photo-group3 img {
  margin-left: 10px;
  /* margin между изображениями */
}
.photo-group4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* выравнивание по левому краю */
  margin-left: 500px;
  /* отрицательный margin для сдвига влево */
  align-items: center;
  /* выравнивание контента по вертикали */
  margin-bottom: 40px;
  /* отступ снизу */

}

.photo-group4 p {
  margin: 0;
  /* сброс отступов */
  margin-left: 178px;
  /* передвигаем текст вправо от группы изображений */
  font-size: 30px;
  /* размер шрифта для текста */
  line-height: 1.4;
  /* межстрочный интервал */
}
.photo-group4 img {
  margin-left: 10px;
  /* margin между изображениями */
}
